// box-sizing
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

// a文字色変更
a{
  color:#555;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color:#c0c0c0;
  }
}

// div,form文字色変更
div,input,select {
  color: #555;
}

// トップページ
.wrapper {
  background-color: #F4F4F4;
  padding: 50px 0 ;
  min-height: 100vh;
  .wrapper_inner {
    max-width: 900px;
    margin: 0 auto;
    .inner_title {
      font-size: 30px;
      text-align: center;
      margin-bottom: 10px;
    }
    .inner_data_left {
      display: flex;
      align-items: center;
      a{
        padding-right: 10px;
        i {
          font-size: 20px;
          color: #20A1F1;
        }
      }
    }
    .inner_search_bar {
      margin: 10px 0;
      .search_bar_title {
        margin-bottom: 5px;
      }
      input {
        padding: 5px 10px;
      }
      select {
        padding: 5px 10px;
        height: 38px;
        width: 209px;
      }
    }
    .inner_data {
      text-align: right;
      display: block;
      span {
        font-size: 18px;
      }
    }
    .album_boxs {
      display: flex;
      flex-wrap: wrap;
      .album_box {
        width: 33%;
        padding: 20px;
        .album_data {
          font-size: 12px;
          margin-bottom: 5px;
        }
        .album_image {
          width: 250px;
          height: 250px;
          border-radius: 10px;
        }
        .album_comment {
          margin: 10px 0 ;
        }
      }
    }
  }
}