// box-sizing
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
.wrapper {
  background-color: antiquewhite;
  padding: 50px 0 ;
  min-height: 100vh;
  .wrapper_inner {
    max-width: 900px;
    margin: 0 auto;
    .inner_title {
      font-size: 30px;
      text-align: center;
    }
    .album_boxs {
      display: flex;
      flex-wrap: wrap;
      .album_box {
        width: 30%;
        padding: 20px;
        .album_image {
          width: 250px;
          height: 250px;
          border-radius: 10px;
        }
      }
    }

  }
}